
#btn-comp {
    position: absolute;
    top: 10px;
    left: 477px;
}

#btn-del {
    position: absolute;
    top: 10px;
    left: 670px;
}

#back {
    position: absolute;
    top: 10px;
    left: 380px;
}